main {
    margin: 0 auto; /* permet de centrer la page*/
    width: 65%;
    text-align: center;
}
h1,h2{
    margin-top:0;
    text-align: center;
}
nav
{
    width : 12%;
    border : 1px solid blue ;
    display: inline-block;
    text-align: left;
    margin-right: 20px;


}
section
{
    vertical-align: top;
    width:60%;
    display: inline-block;


}

aside{
    border : 1px solid blue ;
    width:45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
    margin-left: 3%;
}
article{
    border : 1px solid blue ;
    width:45%;
    display: inline-block;
    vertical-align: top;
}
img{
    position: relative;
    left: 42.5%;
}


footer{
    text-align: center;

}



